@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

@media (prefers-color-scheme: dark) {
  body {
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.1);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Garamond', serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

h1 {
  color: #FFB703;
}

h2 {
  color: #1e3d98;
}

@media (prefers-color-scheme: dark) {
  h1 {
    color: #FB8500;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.1);
  }

  h2 {
    color: #FFB703;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.1);
  }

  h3, h4, h5, h6 {
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.1);
  }
}

html{
  scroll-behavior: smooth;
  
}


@layer utilities {
  /* Кастомный скроллбар */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #0230477c #f1f1f1;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #0230477c;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3b457c;
  }
}





/* Анимация прогресс-бара */
@keyframes progress {
  0% { width: 100%; }
  100% { width: 0%; }
}

.animate-progress {
  animation: progress 25s linear forwards; /* Теперь 25 секунд */
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 193, 7, 0.7);
  border-radius: 2px;
}

@keyframes progress {
  0% { width: 100%; }
  100% { width: 0%; }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 193, 7, 0.7);
  border-radius: 3px;
}
